<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>selected_districts</servlet-name>
        <servlet-class>servlets.selected_districts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_updateItemCount</servlet-name>
        <servlet-class>servlets.Ajax_updateItemCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_login</servlet-name>
        <servlet-class>servlets.Ajax_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearAll</servlet-name>
        <servlet-class>servlets.ClearAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_checkLoginSessions</servlet-name>
        <servlet-class>servlets.Ajax_checkLoginSessions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_updateChat</servlet-name>
        <servlet-class>servlets.Ajax_updateChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_updateSiteVisits</servlet-name>
        <servlet-class>servlets.Ajax_updateSiteVisits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_activateAccount</servlet-name>
        <servlet-class>servlets.Ajax_activateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_requestActivationCode</servlet-name>
        <servlet-class>servlets.Ajax_requestActivationCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_navbarCountsUpdate</servlet-name>
        <servlet-class>servlets.Ajax_navbarCountsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_toggleChatState</servlet-name>
        <servlet-class>servlets.Ajax_toggleChatState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_signupValidation</servlet-name>
        <servlet-class>servlets.Ajax_signupValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>servlets.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_myAds</servlet-name>
        <servlet-class>servlets.Home_myAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_savedAds</servlet-name>
        <servlet-class>servlets.Home_savedAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_messages</servlet-name>
        <servlet-class>servlets.Home_messages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_getChatInfo</servlet-name>
        <servlet-class>servlets.Ajax_getChatInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAd</servlet-name>
        <servlet-class>servlets.ViewAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_manageSavedAds</servlet-name>
        <servlet-class>servlets.Ajax_manageSavedAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_manageMyAds</servlet-name>
        <servlet-class>servlets.Ajax_manageMyAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messenger</servlet-name>
        <servlet-class>servlets.Messenger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_messengerGetChatHeads</servlet-name>
        <servlet-class>servlets.Ajax_messengerGetChatHeads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_messengerGetConversation</servlet-name>
        <servlet-class>servlets.Ajax_messengerGetConversation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_getAllCategories</servlet-name>
        <servlet-class>servlets.Ajax_getAllCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_topAds</servlet-name>
        <servlet-class>servlets.Ajax_topAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_sendMessage</servlet-name>
        <servlet-class>servlets.Ajax_sendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_loadConversation</servlet-name>
        <servlet-class>servlets.Ajax_loadConversation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_updateSeenState</servlet-name>
        <servlet-class>servlets.Ajax_updateSeenState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setCookie</servlet-name>
        <servlet-class>other.setCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_welcomeCookieCheck</servlet-name>
        <servlet-class>servlets.Ajax_welcomeCookieCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_getAllLocations</servlet-name>
        <servlet-class>servlets.Ajax_getAllLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAd</servlet-name>
        <servlet-class>servlets.PostAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_getRelatedAds</servlet-name>
        <servlet-class>servlets.Ajax_getRelatedAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_sendEmailToAdvertiser</servlet-name>
        <servlet-class>servlets.Ajax_sendEmailToAdvertiser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_reportItem</servlet-name>
        <servlet-class>servlets.Ajax_reportItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_sendMessageToAdvertiser</servlet-name>
        <servlet-class>servlets.Ajax_sendMessageToAdvertiser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_checkFavoriteExist</servlet-name>
        <servlet-class>servlets.Ajax_checkFavoriteExist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_insertFavorite</servlet-name>
        <servlet-class>servlets.Ajax_insertFavorite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_removeFavorite</servlet-name>
        <servlet-class>servlets.Ajax_removeFavorite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAd</servlet-name>
        <servlet-class>servlets.EditAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_loadItemInformation</servlet-name>
        <servlet-class>servlets.Ajax_loadItemInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyAd</servlet-name>
        <servlet-class>servlets.modifyAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>servlets.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Contact_Number</servlet-name>
        <servlet-class>servlets.Update_Contact_Number</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_Password</servlet-name>
        <servlet-class>servlets.Change_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_newPasswordResetCode</servlet-name>
        <servlet-class>servlets.Ajax_newPasswordResetCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_resetPassword</servlet-name>
        <servlet-class>servlets.Ajax_resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_deleteConversation</servlet-name>
        <servlet-class>servlets.Ajax_deleteConversation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_enterResetPassword</servlet-name>
        <servlet-class>servlets.Ajax_enterResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminReview</servlet-name>
        <servlet-class>servlets.adminReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_deleteAdImages</servlet-name>
        <servlet-class>servlets.Ajax_deleteAdImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_contactSupport</servlet-name>
        <servlet-class>servlets.Ajax_contactSupport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selected_districts</servlet-name>
        <url-pattern>/selected_districts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_updateItemCount</servlet-name>
        <url-pattern>/Ajax_updateItemCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_login</servlet-name>
        <url-pattern>/Ajax_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearAll</servlet-name>
        <url-pattern>/ClearAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_checkLoginSessions</servlet-name>
        <url-pattern>/Ajax_checkLoginSessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_updateChat</servlet-name>
        <url-pattern>/Ajax_updateChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_updateSiteVisits</servlet-name>
        <url-pattern>/Ajax_updateSiteVisits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_activateAccount</servlet-name>
        <url-pattern>/Ajax_activateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_requestActivationCode</servlet-name>
        <url-pattern>/Ajax_requestActivationCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_navbarCountsUpdate</servlet-name>
        <url-pattern>/Ajax_navbarCountsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_toggleChatState</servlet-name>
        <url-pattern>/Ajax_toggleChatState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_signupValidation</servlet-name>
        <url-pattern>/Ajax_signupValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_myAds</servlet-name>
        <url-pattern>/Home_myAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_savedAds</servlet-name>
        <url-pattern>/Home_savedAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_messages</servlet-name>
        <url-pattern>/Home_messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_getChatInfo</servlet-name>
        <url-pattern>/Ajax_getChatInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAd</servlet-name>
        <url-pattern>/ViewAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_manageSavedAds</servlet-name>
        <url-pattern>/Ajax_manageSavedAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_manageMyAds</servlet-name>
        <url-pattern>/Ajax_manageMyAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messenger</servlet-name>
        <url-pattern>/Messenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_messengerGetChatHeads</servlet-name>
        <url-pattern>/Ajax_messengerGetChatHeads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_messengerGetConversation</servlet-name>
        <url-pattern>/Ajax_messengerGetConversation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_getAllCategories</servlet-name>
        <url-pattern>/Ajax_getAllCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_topAds</servlet-name>
        <url-pattern>/Ajax_topAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_sendMessage</servlet-name>
        <url-pattern>/Ajax_sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_loadConversation</servlet-name>
        <url-pattern>/Ajax_loadConversation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_updateSeenState</servlet-name>
        <url-pattern>/Ajax_updateSeenState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setCookie</servlet-name>
        <url-pattern>/setCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_welcomeCookieCheck</servlet-name>
        <url-pattern>/Ajax_welcomeCookieCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_getAllLocations</servlet-name>
        <url-pattern>/Ajax_getAllLocations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAd</servlet-name>
        <url-pattern>/PostAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_getRelatedAds</servlet-name>
        <url-pattern>/Ajax_getRelatedAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_sendEmailToAdvertiser</servlet-name>
        <url-pattern>/Ajax_sendEmailToAdvertiser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_reportItem</servlet-name>
        <url-pattern>/Ajax_reportItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_sendMessageToAdvertiser</servlet-name>
        <url-pattern>/Ajax_sendMessageToAdvertiser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_checkFavoriteExist</servlet-name>
        <url-pattern>/Ajax_checkFavoriteExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_insertFavorite</servlet-name>
        <url-pattern>/Ajax_insertFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_removeFavorite</servlet-name>
        <url-pattern>/Ajax_removeFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAd</servlet-name>
        <url-pattern>/EditAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_loadItemInformation</servlet-name>
        <url-pattern>/Ajax_loadItemInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyAd</servlet-name>
        <url-pattern>/modifyAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Contact_Number</servlet-name>
        <url-pattern>/Update_Contact_Number</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_Password</servlet-name>
        <url-pattern>/Change_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_newPasswordResetCode</servlet-name>
        <url-pattern>/Ajax_newPasswordResetCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_resetPassword</servlet-name>
        <url-pattern>/Ajax_resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_deleteConversation</servlet-name>
        <url-pattern>/Ajax_deleteConversation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_enterResetPassword</servlet-name>
        <url-pattern>/Ajax_enterResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminReview</servlet-name>
        <url-pattern>/adminReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_deleteAdImages</servlet-name>
        <url-pattern>/Ajax_deleteAdImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_contactSupport</servlet-name>
        <url-pattern>/Ajax_contactSupport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
